<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itrip.dao.comment.CommentMapper">
  <resultMap id="BaseResultMap" type="cn.itrip.beans.pojo.Comment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="hotelId" jdbcType="BIGINT" property="hotelId" />
    <result column="productId" jdbcType="BIGINT" property="productId" />
    <result column="orderId" jdbcType="BIGINT" property="orderId" />
    <result column="productType" jdbcType="INTEGER" property="productType" />
    <result column="userId" jdbcType="BIGINT" property="userId" />
    <result column="isHavingImg" jdbcType="INTEGER" property="isHavingImg" />
    <result column="positionScore" jdbcType="INTEGER" property="positionScore" />
    <result column="facilitiesScore" jdbcType="INTEGER" property="facilitiesScore" />
    <result column="serviceScore" jdbcType="INTEGER" property="serviceScore" />
    <result column="hygieneScore" jdbcType="INTEGER" property="hygieneScore" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="tripMode" jdbcType="BIGINT" property="tripMode" />
    <result column="isOk" jdbcType="INTEGER" property="isOk" />
    <result column="creationDate" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="createdBy" jdbcType="BIGINT" property="createdBy" />
    <result column="modifyDate" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="modifiedBy" jdbcType="BIGINT" property="modifiedBy" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.itrip.beans.pojo.Comment">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, hotelId, productId, orderId, productType, userId, isHavingImg, positionScore, 
    facilitiesScore, serviceScore, hygieneScore, score, tripMode, isOk, creationDate, 
    createdBy, modifyDate, modifiedBy
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>





  <!--以下是自动生成CURD-->
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from itrip_comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from itrip_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.itrip.beans.pojo.Comment">
    insert into itrip_comment (id, hotelId, productId, 
      orderId, productType, userId, 
      isHavingImg, positionScore, facilitiesScore, 
      serviceScore, hygieneScore, score, 
      tripMode, isOk, creationDate, 
      createdBy, modifyDate, modifiedBy, 
      content)
    values (#{id,jdbcType=BIGINT}, #{hotelId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, 
      #{orderId,jdbcType=BIGINT}, #{productType,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, 
      #{isHavingImg,jdbcType=INTEGER}, #{positionScore,jdbcType=INTEGER}, #{facilitiesScore,jdbcType=INTEGER}, 
      #{serviceScore,jdbcType=INTEGER}, #{hygieneScore,jdbcType=INTEGER}, #{score,jdbcType=INTEGER}, 
      #{tripMode,jdbcType=BIGINT}, #{isOk,jdbcType=INTEGER}, #{creationDate,jdbcType=TIMESTAMP}, 
      #{createdBy,jdbcType=BIGINT}, #{modifyDate,jdbcType=TIMESTAMP}, #{modifiedBy,jdbcType=BIGINT}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.itrip.beans.pojo.Comment">
    insert into itrip_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hotelId != null">
        hotelId,
      </if>
      <if test="productId != null">
        productId,
      </if>
      <if test="orderId != null">
        orderId,
      </if>
      <if test="productType != null">
        productType,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="isHavingImg != null">
        isHavingImg,
      </if>
      <if test="positionScore != null">
        positionScore,
      </if>
      <if test="facilitiesScore != null">
        facilitiesScore,
      </if>
      <if test="serviceScore != null">
        serviceScore,
      </if>
      <if test="hygieneScore != null">
        hygieneScore,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="tripMode != null">
        tripMode,
      </if>
      <if test="isOk != null">
        isOk,
      </if>
      <if test="creationDate != null">
        creationDate,
      </if>
      <if test="createdBy != null">
        createdBy,
      </if>
      <if test="modifyDate != null">
        modifyDate,
      </if>
      <if test="modifiedBy != null">
        modifiedBy,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="hotelId != null">
        #{hotelId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="isHavingImg != null">
        #{isHavingImg,jdbcType=INTEGER},
      </if>
      <if test="positionScore != null">
        #{positionScore,jdbcType=INTEGER},
      </if>
      <if test="facilitiesScore != null">
        #{facilitiesScore,jdbcType=INTEGER},
      </if>
      <if test="serviceScore != null">
        #{serviceScore,jdbcType=INTEGER},
      </if>
      <if test="hygieneScore != null">
        #{hygieneScore,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="tripMode != null">
        #{tripMode,jdbcType=BIGINT},
      </if>
      <if test="isOk != null">
        #{isOk,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        #{modifiedBy,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itrip.beans.pojo.Comment">
    update itrip_comment
    <set>
      <if test="hotelId != null">
        hotelId = #{hotelId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        productId = #{productId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        orderId = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="productType != null">
        productType = #{productType,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        userId = #{userId,jdbcType=BIGINT},
      </if>
      <if test="isHavingImg != null">
        isHavingImg = #{isHavingImg,jdbcType=INTEGER},
      </if>
      <if test="positionScore != null">
        positionScore = #{positionScore,jdbcType=INTEGER},
      </if>
      <if test="facilitiesScore != null">
        facilitiesScore = #{facilitiesScore,jdbcType=INTEGER},
      </if>
      <if test="serviceScore != null">
        serviceScore = #{serviceScore,jdbcType=INTEGER},
      </if>
      <if test="hygieneScore != null">
        hygieneScore = #{hygieneScore,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="tripMode != null">
        tripMode = #{tripMode,jdbcType=BIGINT},
      </if>
      <if test="isOk != null">
        isOk = #{isOk,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        creationDate = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        createdBy = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="modifyDate != null">
        modifyDate = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        modifiedBy = #{modifiedBy,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.itrip.beans.pojo.Comment">
    update itrip_comment
    set hotelId = #{hotelId,jdbcType=BIGINT},
      productId = #{productId,jdbcType=BIGINT},
      orderId = #{orderId,jdbcType=BIGINT},
      productType = #{productType,jdbcType=INTEGER},
      userId = #{userId,jdbcType=BIGINT},
      isHavingImg = #{isHavingImg,jdbcType=INTEGER},
      positionScore = #{positionScore,jdbcType=INTEGER},
      facilitiesScore = #{facilitiesScore,jdbcType=INTEGER},
      serviceScore = #{serviceScore,jdbcType=INTEGER},
      hygieneScore = #{hygieneScore,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      tripMode = #{tripMode,jdbcType=BIGINT},
      isOk = #{isOk,jdbcType=INTEGER},
      creationDate = #{creationDate,jdbcType=TIMESTAMP},
      createdBy = #{createdBy,jdbcType=BIGINT},
      modifyDate = #{modifyDate,jdbcType=TIMESTAMP},
      modifiedBy = #{modifiedBy,jdbcType=BIGINT},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itrip.beans.pojo.Comment">
    update itrip_comment
    set hotelId = #{hotelId,jdbcType=BIGINT},
      productId = #{productId,jdbcType=BIGINT},
      orderId = #{orderId,jdbcType=BIGINT},
      productType = #{productType,jdbcType=INTEGER},
      userId = #{userId,jdbcType=BIGINT},
      isHavingImg = #{isHavingImg,jdbcType=INTEGER},
      positionScore = #{positionScore,jdbcType=INTEGER},
      facilitiesScore = #{facilitiesScore,jdbcType=INTEGER},
      serviceScore = #{serviceScore,jdbcType=INTEGER},
      hygieneScore = #{hygieneScore,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      tripMode = #{tripMode,jdbcType=BIGINT},
      isOk = #{isOk,jdbcType=INTEGER},
      creationDate = #{creationDate,jdbcType=TIMESTAMP},
      createdBy = #{createdBy,jdbcType=BIGINT},
      modifyDate = #{modifyDate,jdbcType=TIMESTAMP},
      modifiedBy = #{modifiedBy,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>