<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itrip.dao.productstore.ProductStoreMapper">
  <resultMap id="BaseResultMap" type="cn.itrip.beans.pojo.ProductStore">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="productType" jdbcType="INTEGER" property="productType" />
    <result column="productId" jdbcType="BIGINT" property="productId" />
    <result column="store" jdbcType="INTEGER" property="store" />
    <result column="creationDate" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="createdBy" jdbcType="BIGINT" property="createdBy" />
    <result column="modifyDate" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="modifiedBy" jdbcType="BIGINT" property="modifiedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, productType, productId, store, creationDate, createdBy, modifyDate, modifiedBy
  </sql>




  <!--以下是自动生成CURD-->
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from itrip_product_store
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from itrip_product_store
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.itrip.beans.pojo.ProductStore">
    insert into itrip_product_store (id, productType, productId, 
      store, creationDate, createdBy, 
      modifyDate, modifiedBy)
    values (#{id,jdbcType=BIGINT}, #{productType,jdbcType=INTEGER}, #{productId,jdbcType=BIGINT}, 
      #{store,jdbcType=INTEGER}, #{creationDate,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=BIGINT}, 
      #{modifyDate,jdbcType=TIMESTAMP}, #{modifiedBy,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.itrip.beans.pojo.ProductStore">
    insert into itrip_product_store
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productType != null">
        productType,
      </if>
      <if test="productId != null">
        productId,
      </if>
      <if test="store != null">
        store,
      </if>
      <if test="creationDate != null">
        creationDate,
      </if>
      <if test="createdBy != null">
        createdBy,
      </if>
      <if test="modifyDate != null">
        modifyDate,
      </if>
      <if test="modifiedBy != null">
        modifiedBy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="store != null">
        #{store,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        #{modifiedBy,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itrip.beans.pojo.ProductStore">
    update itrip_product_store
    <set>
      <if test="productType != null">
        productType = #{productType,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        productId = #{productId,jdbcType=BIGINT},
      </if>
      <if test="store != null">
        store = #{store,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        creationDate = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        createdBy = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="modifyDate != null">
        modifyDate = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        modifiedBy = #{modifiedBy,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itrip.beans.pojo.ProductStore">
    update itrip_product_store
    set productType = #{productType,jdbcType=INTEGER},
      productId = #{productId,jdbcType=BIGINT},
      store = #{store,jdbcType=INTEGER},
      creationDate = #{creationDate,jdbcType=TIMESTAMP},
      createdBy = #{createdBy,jdbcType=BIGINT},
      modifyDate = #{modifyDate,jdbcType=TIMESTAMP},
      modifiedBy = #{modifiedBy,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>