<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itrip.dao.hotelroom.HotelRoomMapper">
    <resultMap id="BaseResultMap" type="cn.itrip.beans.pojo.HotelRoom">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="hotelId" jdbcType="BIGINT" property="hotelId"/>
        <result column="roomTitle" jdbcType="VARCHAR" property="roomTitle"/>
        <result column="roomPrice" jdbcType="DECIMAL" property="roomPrice"/>
        <result column="roomBedTypeId" jdbcType="BIGINT" property="roomBedTypeId"/>
        <result column="isHavingBreakfast" jdbcType="INTEGER" property="isHavingBreakfast"/>
        <result column="payType" jdbcType="INTEGER" property="payType"/>
        <result column="satisfaction" jdbcType="DECIMAL" property="satisfaction"/>
        <result column="isBook" jdbcType="INTEGER" property="isBook"/>
        <result column="isCancel" jdbcType="INTEGER" property="isCancel"/>
        <result column="isTimelyResponse" jdbcType="INTEGER" property="isTimelyResponse"/>
        <result column="creationDate" jdbcType="TIMESTAMP" property="creationDate"/>
        <result column="createdBy" jdbcType="BIGINT" property="createdBy"/>
        <result column="modifyDate" jdbcType="TIMESTAMP" property="modifyDate"/>
        <result column="modifiedBy" jdbcType="BIGINT" property="modifiedBy"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, hotelId, roomTitle, roomPrice, roomBedTypeId, isHavingBreakfast, payType, satisfaction, 
    isBook, isCancel, isTimelyResponse, creationDate, createdBy, modifyDate, modifiedBy
  </sql>

    <!--通过条件查询酒店房间列表-->
    <select id="selectHotelRoomListByQuery" resultType="cn.itrip.beans.pojo.HotelRoom">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `itrip_hotel_room` room
        <trim prefix="where" prefixOverrides="and | or">
            <if test="hotelId != null and hotelId!=''">
                AND `hotelId`=#{hotelId}
            </if>
            <if test="roomBedTypeId != null">
                AND `roomBedTypeId`=#{roomBedTypeId}
            </if>
            <if test="isHavingBreakfast != null">
                AND `isHavingBreakfast`=#{isHavingBreakfast}
            </if>
            <if test="payType == 1">
                AND (`payType`=1 OR `payType`=3)
            </if>
            <if test="payType == 2">
                AND (`payType`=2 OR `payType`=3)
            </if>
            <if test="payType == 3">
                AND `payType`=3
            </if>
            <if test="isBook != null">
                AND `isBook`=#{isBook}
            </if>
            <if test="isCancel != null">
                AND `isCancel`=#{isCancel}
            </if>
            <if test="isTimelyResponse != null">
                AND `isTimelyResponse`=#{isTimelyResponse}
            </if>
            <if test="timesList!=null">
                AND
                <foreach item="item" index="index" collection="timesList" open="(" separator="AND" close=")">
                    (
                    (SELECT `store` FROM `itrip_hotel_temp_store` WHERE `roomId` = room.id AND DATE_FORMAT(recordDate,
                    '%Y-%m-%d') = DATE_FORMAT(#{item}, '%Y-%m-%d')) IS NULL
                    OR
                    (SELECT `store` FROM `itrip_hotel_temp_store` WHERE `roomId` = room.id AND DATE_FORMAT(recordDate,
                    '%Y-%m-%d') = DATE_FORMAT(#{item}, '%Y-%m-%d')) > 0
                    )
                </foreach>
            </if>
        </trim>
        ORDER BY `creationDate` DESC
    </select>


    <!--以下是自动生成CURD-->
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from itrip_hotel_room
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from itrip_hotel_room
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="cn.itrip.beans.pojo.HotelRoom">
    insert into itrip_hotel_room (id, hotelId, roomTitle, 
      roomPrice, roomBedTypeId, isHavingBreakfast, 
      payType, satisfaction, isBook, 
      isCancel, isTimelyResponse, creationDate, 
      createdBy, modifyDate, modifiedBy
      )
    values (#{id,jdbcType=BIGINT}, #{hotelId,jdbcType=BIGINT}, #{roomTitle,jdbcType=VARCHAR}, 
      #{roomPrice,jdbcType=DECIMAL}, #{roomBedTypeId,jdbcType=BIGINT}, #{isHavingBreakfast,jdbcType=INTEGER}, 
      #{payType,jdbcType=INTEGER}, #{satisfaction,jdbcType=DECIMAL}, #{isBook,jdbcType=INTEGER}, 
      #{isCancel,jdbcType=INTEGER}, #{isTimelyResponse,jdbcType=INTEGER}, #{creationDate,jdbcType=TIMESTAMP}, 
      #{createdBy,jdbcType=BIGINT}, #{modifyDate,jdbcType=TIMESTAMP}, #{modifiedBy,jdbcType=BIGINT}
      )
  </insert>
    <insert id="insertSelective" parameterType="cn.itrip.beans.pojo.HotelRoom">
        insert into itrip_hotel_room
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="hotelId != null">
                hotelId,
            </if>
            <if test="roomTitle != null">
                roomTitle,
            </if>
            <if test="roomPrice != null">
                roomPrice,
            </if>
            <if test="roomBedTypeId != null">
                roomBedTypeId,
            </if>
            <if test="isHavingBreakfast != null">
                isHavingBreakfast,
            </if>
            <if test="payType != null">
                payType,
            </if>
            <if test="satisfaction != null">
                satisfaction,
            </if>
            <if test="isBook != null">
                isBook,
            </if>
            <if test="isCancel != null">
                isCancel,
            </if>
            <if test="isTimelyResponse != null">
                isTimelyResponse,
            </if>
            <if test="creationDate != null">
                creationDate,
            </if>
            <if test="createdBy != null">
                createdBy,
            </if>
            <if test="modifyDate != null">
                modifyDate,
            </if>
            <if test="modifiedBy != null">
                modifiedBy,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="hotelId != null">
                #{hotelId,jdbcType=BIGINT},
            </if>
            <if test="roomTitle != null">
                #{roomTitle,jdbcType=VARCHAR},
            </if>
            <if test="roomPrice != null">
                #{roomPrice,jdbcType=DECIMAL},
            </if>
            <if test="roomBedTypeId != null">
                #{roomBedTypeId,jdbcType=BIGINT},
            </if>
            <if test="isHavingBreakfast != null">
                #{isHavingBreakfast,jdbcType=INTEGER},
            </if>
            <if test="payType != null">
                #{payType,jdbcType=INTEGER},
            </if>
            <if test="satisfaction != null">
                #{satisfaction,jdbcType=DECIMAL},
            </if>
            <if test="isBook != null">
                #{isBook,jdbcType=INTEGER},
            </if>
            <if test="isCancel != null">
                #{isCancel,jdbcType=INTEGER},
            </if>
            <if test="isTimelyResponse != null">
                #{isTimelyResponse,jdbcType=INTEGER},
            </if>
            <if test="creationDate != null">
                #{creationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="modifyDate != null">
                #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedBy != null">
                #{modifiedBy,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.itrip.beans.pojo.HotelRoom">
        update itrip_hotel_room
        <set>
            <if test="hotelId != null">
                hotelId = #{hotelId,jdbcType=BIGINT},
            </if>
            <if test="roomTitle != null">
                roomTitle = #{roomTitle,jdbcType=VARCHAR},
            </if>
            <if test="roomPrice != null">
                roomPrice = #{roomPrice,jdbcType=DECIMAL},
            </if>
            <if test="roomBedTypeId != null">
                roomBedTypeId = #{roomBedTypeId,jdbcType=BIGINT},
            </if>
            <if test="isHavingBreakfast != null">
                isHavingBreakfast = #{isHavingBreakfast,jdbcType=INTEGER},
            </if>
            <if test="payType != null">
                payType = #{payType,jdbcType=INTEGER},
            </if>
            <if test="satisfaction != null">
                satisfaction = #{satisfaction,jdbcType=DECIMAL},
            </if>
            <if test="isBook != null">
                isBook = #{isBook,jdbcType=INTEGER},
            </if>
            <if test="isCancel != null">
                isCancel = #{isCancel,jdbcType=INTEGER},
            </if>
            <if test="isTimelyResponse != null">
                isTimelyResponse = #{isTimelyResponse,jdbcType=INTEGER},
            </if>
            <if test="creationDate != null">
                creationDate = #{creationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                createdBy = #{createdBy,jdbcType=BIGINT},
            </if>
            <if test="modifyDate != null">
                modifyDate = #{modifyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedBy != null">
                modifiedBy = #{modifiedBy,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.itrip.beans.pojo.HotelRoom">
    update itrip_hotel_room
    set hotelId = #{hotelId,jdbcType=BIGINT},
      roomTitle = #{roomTitle,jdbcType=VARCHAR},
      roomPrice = #{roomPrice,jdbcType=DECIMAL},
      roomBedTypeId = #{roomBedTypeId,jdbcType=BIGINT},
      isHavingBreakfast = #{isHavingBreakfast,jdbcType=INTEGER},
      payType = #{payType,jdbcType=INTEGER},
      satisfaction = #{satisfaction,jdbcType=DECIMAL},
      isBook = #{isBook,jdbcType=INTEGER},
      isCancel = #{isCancel,jdbcType=INTEGER},
      isTimelyResponse = #{isTimelyResponse,jdbcType=INTEGER},
      creationDate = #{creationDate,jdbcType=TIMESTAMP},
      createdBy = #{createdBy,jdbcType=BIGINT},
      modifyDate = #{modifyDate,jdbcType=TIMESTAMP},
      modifiedBy = #{modifiedBy,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>